* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#main {
    width: 100%;
    min-height: 100vh;
}

.top {
    width: 100%;
    min-height: 60vh;
    background-image: url(p2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.top .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 10vh;
    color: white;
    bottom: 5%;
    z-index: 1;
}

.text h1 {
    font-weight: 600;
    font-size: 4vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.text .image {
    background-image: url(p1.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.text .image:hover {
    transform: scale(1.05);
}

.rtext {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}

.rtext p {
    font-size: 12px;
}

.bottom {
    display: flex;
    width: 100%;
    min-height: 40vh;
}

.b1, .b2 .up, .b2 .down, .b3 {
    transition: transform 0.3s ease-in-out;
}

.b1 {
    width: 30%;
    min-height: inherit;
    background-image: url(p3.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.b1 h1 {
    text-align: center;
    padding: 30px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.b1 p {
    color: white;
    text-align: center;
    padding: 15px;
}

.b1:hover {
    transform: scale(1.02);
}

.b2 {
    width: 30%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
}

.b2 .up {
    width: 100%;
    min-height: 20vh;
    background-image: url(p4.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.b2 .up h1 {
    text-align: center;
    padding: 30px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.b2 .up p {
    color: white;
    text-align: center;
    padding: 15px;
}

.b2 .down {
    width: 100%;
    min-height: 20vh;
    background-image: url(p6.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.b2 .down .overlay {
    position: relative;
    width: 100%;
    min-height: 20vh;
    background-color: rgba(255, 255, 255, 0.333);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.b2 .up:hover, .b2 .down:hover {
    transform: scale(1.02);
}

.b3 {
    width: 40%;
    min-height: inherit;
    background-image: url(p5.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.b3 .overlay {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 4vw 3vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.b3:hover {
    transform: scale(1.02);
}

@media (max-width: 700px) {
    .rtext {
        flex-direction: column;
    }

    .b3 .overlay {
        width: 100%;
        margin-left: initial;
    }
}

@media (max-width: 500px) {
    .text {
        flex-direction: column;
        align-items: flex-start;
    }

    .text h1 {
        font-size: 5vh;
    }

    .text .image {
        height: 200px;
        width: 140px;
        margin-top: 20px;
    }

    .rtext {
        flex-direction: column;
        align-items: flex-start;
    }

    .rtext p {
        margin: 10px;
    }

    .icons {
        margin-top: 10px;
    }

    .bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .b1, .b2, .b3 {
        width: 100%;
        min-height: 30vh;
    }

    .b2 .up, .b2 .down {
        min-height: 30vh;
    }

    .b3 {
        background-position: left;
    }
}
